node-red/.flows.json.backup
[{"id":"9c086b58.408948","type":"tab","label":"Bedroom night walk","disabled":false,"info":""},{"id":"41f5e6d.392be18","type":"tab","label":"Oczyszczacz powietrza -moje","disabled":false,"info":""},{"id":"371218cc.564568","type":"tab","label":"Office desk lamp","disabled":true,"info":""},{"id":"a6a6544f.229a78","type":"tab","label":"Absence","disabled":false,"info":"**Each of us is leaving separately**\n- When entrance door is opened and then close\n- And phone wifi is disconnected when:\n    - Justyna not home\n    - Wojciech not home\n- In time of 3 minutes\n- Then turn the all lights off\n\n**We are leaving home together**\n- When entrace door is opened and then close\n- And our phones wifi is disconnected\n- In time of 3 minutes\n- Then turn the all lights off"},{"id":"2014f45.521b30c","type":"tab","label":"Presence","disabled":false,"info":""},{"id":"c85bed85.16c69","type":"tab","label":"Wall switches","disabled":false,"info":""},{"id":"e9f889aa2061717f","type":"tab","label":"Door/window sensors","disabled":false,"info":"","env":[]},{"id":"87beabed.c2c1a8","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"43e641bc.d75cd","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"309a8d8d.51ec22","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"3462c8df.e306f8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5253889.fa04678","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"120b349e.a8b08b","type":"change","z":"9c086b58.408948","name":"Set path_1","rules":[{"t":"set","p":"paths","pt":"msg","to":"path_1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":720,"wires":[["5af12aa0.210104"]]},{"id":"5af12aa0.210104","type":"join-wait","z":"9c086b58.408948","name":"Join and wait 10 sec","paths":"[\"path_1\", \"path_2\"]","pathsToExpire":"","useRegex":false,"ignoreUnmatched":false,"pathTopic":"paths","pathTopicType":"msg","correlationTopic":"","correlationTopicType":"msg","timeout":"10","timeoutUnits":"1000","exactOrder":"false","firstMsg":"true","mapPayload":"true","disableComplete":false,"x":1040,"y":720,"wires":[["dad79986.17bba8"],[]]},{"id":"411b9b60.17bb34","type":"server-state-changed","z":"9c086b58.408948","name":"Door bedroom opens ?","server":"5253889.fa04678","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.door_bedroom_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":220,"y":800,"wires":[["e05ae643.ffc9a8"],["9f62635c.a2781"]]},{"id":"e05ae643.ffc9a8","type":"change","z":"9c086b58.408948","name":"Set path_2","rules":[{"t":"set","p":"paths","pt":"msg","to":"path_2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":760,"wires":[["5af12aa0.210104"]]},{"id":"dad79986.17bba8","type":"change","z":"9c086b58.408948","name":"STOP 30 sec","rules":[{"t":"set","p":"reset","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":720,"wires":[["cbe51af1.4dc898"]]},{"id":"d688b247.5a754","type":"server-state-changed","z":"9c086b58.408948","name":"Left side bed motion sensor","server":"5253889.fa04678","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.0xd0cf5efffe1de584","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":200,"y":720,"wires":[["811ecbb7.4eec88","5d1acb1.7bd8034"]]},{"id":"8cfe5142.226f4","type":"server-state-changed","z":"9c086b58.408948","name":"Right side bed motion sensor","server":"5253889.fa04678","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.binary_sensor_motion_sensor_right_bedroom_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":200,"y":760,"wires":[["811ecbb7.4eec88","5d1acb1.7bd8034"]]},{"id":"811ecbb7.4eec88","type":"switch","z":"9c086b58.408948","name":"Motion ?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":540,"y":560,"wires":[["120b349e.a8b08b","59daa867.df66f8"],[]]},{"id":"9f62635c.a2781","type":"switch","z":"9c086b58.408948","name":"Open - close ?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1280,"y":860,"wires":[[],["cbe51af1.4dc898"]]},{"id":"59daa867.df66f8","type":"api-current-state","z":"9c086b58.408948","name":"Door bedroom's close ?","server":"5253889.fa04678","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.door_bedroom_contact","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":850,"y":620,"wires":[["cbe51af1.4dc898","e400f81.ff74a08"],[]]},{"id":"5d1acb1.7bd8034","type":"switch","z":"9c086b58.408948","name":"Motion ?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":540,"y":520,"wires":[["e0e103af.3ddfd"],["cb171e3a.6b9fe"]]},{"id":"e400f81.ff74a08","type":"change","z":"9c086b58.408948","name":"STOP 3 min","rules":[{"t":"set","p":"reset","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":620,"wires":[["cb171e3a.6b9fe"]]},{"id":"e0e103af.3ddfd","type":"api-current-state","z":"9c086b58.408948","name":"Gateway lights off ?","server":"5253889.fa04678","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"group.gateway_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1710,"y":400,"wires":[["3a73d090.99292"]]},{"id":"eee96fba.b820a","type":"api-current-state","z":"9c086b58.408948","name":"Gateway lights on ?","server":"5253889.fa04678","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"group.gateway_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1710,"y":720,"wires":[["6ba6608e.bb896"]]},{"id":"4ec3742f.84b7ec","type":"api-call-service","z":"9c086b58.408948","name":"Gateways lights on 50%","server":"5253889.fa04678","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["group.gateway_lights"],"data":"{\"brightness\":255,\"rgb_color\":[130,80,40]}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2170,"y":400,"wires":[[]]},{"id":"6ba6608e.bb896","type":"api-call-service","z":"9c086b58.408948","name":"Gateways lights off","server":"5253889.fa04678","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["group.gateway_lights"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1950,"y":720,"wires":[[]]},{"id":"1f915034.cefa","type":"server-state-changed","z":"9c086b58.408948","name":"Door bathroom opens ?","server":"5253889.fa04678","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.door_bathroom_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":220,"y":840,"wires":[[],[]]},{"id":"3a73d090.99292","type":"time-range-switch","z":"9c086b58.408948","name":"","lat":"","lon":"","startTime":"19:00","endTime":"7:00","startOffset":0,"endOffset":0,"x":1930,"y":400,"wires":[["4ec3742f.84b7ec"],[]]},{"id":"cbe51af1.4dc898","type":"stoptimer","z":"9c086b58.408948","duration":"30","units":"Second","payloadtype":"num","payloadval":"0","name":"30 sec","x":1470,"y":540,"wires":[["eee96fba.b820a"],[]]},{"id":"cb171e3a.6b9fe","type":"stoptimer","z":"9c086b58.408948","duration":"3","units":"Minute","payloadtype":"num","payloadval":"0","name":"3 min","x":1470,"y":480,"wires":[["eee96fba.b820a"],[]]},{"id":"f7c03c16.0a07a","type":"stoptimer","z":"9c086b58.408948","duration":"100","units":"Millisecond","payloadtype":"num","payloadval":"0","name":"","x":400,"y":360,"wires":[[],[]]},{"id":"ad5675e9.f95fe8","type":"stoptimer","z":"9c086b58.408948","duration":"100","units":"Millisecond","payloadtype":"num","payloadval":"0","name":"","x":400,"y":420,"wires":[[],[]]},{"id":"8645367ccce56aed","type":"server-state-changed","z":"9c086b58.408948","name":"Cat toilet motion sensor","server":"5253889.fa04678","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.binary_sensor_motion_sensor_door_entrance_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":220,"y":1080,"wires":[["9a8cecb67088bc1a"]]},{"id":"9a8cecb67088bc1a","type":"api-call-service","z":"9c086b58.408948","name":"Notify Nobody's home","server":"5253889.fa04678","version":5,"debugenabled":false,"domain":"notify","service":"family","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"Wiadomość od Niasia\",\"message\":\"Wytrzeszczam oczy! :3\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":500,"y":1080,"wires":[[]]},{"id":"7b8f4278900838db","type":"trigger-state","z":"41f5e6d.392be18","name":"AQI","server":"5253889.fa04678","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.air_purifier_bedroom_air_quality_pm25","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":""}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":130,"y":320,"wires":[[],["6ff4c96132121292"]]},{"id":"db2080d50addcb9c","type":"inject","z":"41f5e6d.392be18","name":"08:01","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"01 08 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":380,"wires":[["6ff4c96132121292"]]},{"id":"ddc6dec622d4cc08","type":"inject","z":"41f5e6d.392be18","name":"22:01","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"01 22 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":440,"wires":[["6ff4c96132121292"]]},{"id":"5a94bb873532d78c","type":"api-current-state","z":"41f5e6d.392be18","name":"AQI < 10 ?","server":"5253889.fa04678","version":3,"outputs":2,"halt_if":"10","halt_if_type":"num","halt_if_compare":"lt","entity_id":"sensor.air_purifier_bedroom_air_quality_pm25","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":570,"y":320,"wires":[["9856ae426a3333d4"],["9e67d47d6b88fa80"]]},{"id":"9856ae426a3333d4","type":"api-current-state","z":"41f5e6d.392be18","name":"Mi Air on?","server":"5253889.fa04678","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"fan.air_purifier_bedroom","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":780,"y":320,"wires":[["2614a0bf0283f3b6"],[]]},{"id":"f6116dbf290579d7","type":"trigger","z":"41f5e6d.392be18","name":"","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"5","extend":false,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1170,"y":320,"wires":[["64d7a6f580cb4a69"]]},{"id":"64d7a6f580cb4a69","type":"api-current-state","z":"41f5e6d.392be18","name":"AQI < 5?","server":"5253889.fa04678","version":3,"outputs":2,"halt_if":"5","halt_if_type":"num","halt_if_compare":"lt","entity_id":"sensor.air_purifier_bedroom_air_quality_pm25","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1360,"y":320,"wires":[["ab353f946c10af6b"],[]]},{"id":"ab353f946c10af6b","type":"api-call-service","z":"41f5e6d.392be18","name":"Fan off","server":"5253889.fa04678","version":5,"debugenabled":false,"domain":"fan","service":"turn_off","areaId":[],"deviceId":[],"entityId":["fan.air_purifier_bedroom"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1540,"y":320,"wires":[[]]},{"id":"3e5de1234f27112f","type":"api-current-state","z":"41f5e6d.392be18","name":"Mi Air on?","server":"5253889.fa04678","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"fan.air_purifier_bedroom","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":760,"y":800,"wires":[["31a990c67f4475fe"],["c8ed6550b5b22631"]]},{"id":"31a990c67f4475fe","type":"api-call-service","z":"41f5e6d.392be18","name":"Fan set silent","server":"5253889.fa04678","version":5,"debugenabled":false,"domain":"fan","service":"set_speed","areaId":[],"deviceId":[],"entityId":["fan.air_purifier_bedroom"],"data":"{\"speed\":\"silent\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":820,"wires":[[]]},{"id":"c8ed6550b5b22631","type":"api-call-service","z":"41f5e6d.392be18","name":"Fan on","server":"5253889.fa04678","version":5,"debugenabled":false,"domain":"fan","service":"turn_on","areaId":[],"deviceId":[],"entityId":["fan.air_purifier_bedroom"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":760,"y":860,"wires":[["eec22b3f274abf18"]]},{"id":"eec22b3f274abf18","type":"trigger","z":"41f5e6d.392be18","name":"","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"5","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":920,"y":880,"wires":[["31a990c67f4475fe"]]},{"id":"c2a64dd0c735e0e9","type":"time-range-switch","z":"41f5e6d.392be18","name":"","lat":"","lon":"","startTime":"8:00","endTime":"22:00","startOffset":0,"endOffset":0,"x":390,"y":380,"wires":[["5a94bb873532d78c"],["3e5de1234f27112f"]]},{"id":"772441b4833840e0","type":"api-current-state","z":"41f5e6d.392be18","name":"Silent?","server":"5253889.fa04678","version":3,"outputs":2,"halt_if":"$contains($entity().attributes.speed, \"Silent\")","halt_if_type":"jsonata","halt_if_compare":"jsonata","entity_id":"fan.air_purifier_bedroom","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":110,"y":660,"wires":[[],[]]},{"id":"9e67d47d6b88fa80","type":"api-current-state","z":"41f5e6d.392be18","name":"Mi Air on?","server":"5253889.fa04678","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"fan.air_purifier_bedroom","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":780,"y":380,"wires":[["6bf788404398bd69"],["6ec45f36174d412f"]]},{"id":"6ec45f36174d412f","type":"api-call-service","z":"41f5e6d.392be18","name":"Fan on","server":"5253889.fa04678","version":5,"debugenabled":false,"domain":"fan","service":"turn_on","areaId":[],"deviceId":[],"entityId":["fan.air_purifier_bedroom"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":960,"y":380,"wires":[["6bf788404398bd69"]]},{"id":"6bf788404398bd69","type":"trigger","z":"41f5e6d.392be18","name":"","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"5","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":960,"y":440,"wires":[["07072a4d7d48ce76"]]},{"id":"07072a4d7d48ce76","type":"api-current-state","z":"41f5e6d.392be18","name":"AQI < 15 ?","server":"5253889.fa04678","version":3,"outputs":2,"halt_if":"15","halt_if_type":"num","halt_if_compare":"lt","entity_id":"sensor.air_purifier_bedroom_air_quality_pm25","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":790,"y":500,"wires":[["f3efc087d45292f7"],["b56840bfb7569dd9"]]},{"id":"b56840bfb7569dd9","type":"api-call-service","z":"41f5e6d.392be18","name":"Fan set favorite","server":"5253889.fa04678","version":5,"debugenabled":false,"domain":"fan","service":"set_speed","areaId":[],"deviceId":[],"entityId":["fan.air_purifier_bedroom"],"data":"{\"speed\":\"favorite\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":980,"y":560,"wires":[["1dc9dc9772d88d34"]]},{"id":"1dc9dc9772d88d34","type":"api-current-state","z":"41f5e6d.392be18","name":"AQI > 30 ?","server":"5253889.fa04678","version":3,"outputs":2,"halt_if":"30","halt_if_type":"num","halt_if_compare":"gt","entity_id":"sensor.air_purifier_bedroom_air_quality_pm25","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":890,"y":640,"wires":[["e1ee15925641c6b0"],["5ec519f9eabf1b16"]]},{"id":"e1ee15925641c6b0","type":"api-call-service","z":"41f5e6d.392be18","name":"Fan set speed 6","server":"5253889.fa04678","version":5,"debugenabled":false,"domain":"xiaomi_miio","service":"fan_set_favorite_level","areaId":[],"deviceId":[],"entityId":["fan.air_purifier_bedroom"],"data":"{\"level\":\"6\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":640,"wires":[[]]},{"id":"f3efc087d45292f7","type":"api-call-service","z":"41f5e6d.392be18","name":"Fan set auto","server":"5253889.fa04678","version":5,"debugenabled":false,"domain":"fan","service":"set_speed","areaId":[],"deviceId":[],"entityId":["fan.air_purifier_bedroom"],"data":"{\"speed\":\"auto\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":970,"y":500,"wires":[[]]},{"id":"d6daf0700a301db2","type":"api-call-service","z":"41f5e6d.392be18","name":"Notify Nobody's home","server":"5253889.fa04678","version":5,"debugenabled":false,"domain":"notify","service":"wojciech_devices","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"Set fan speed\",\"message\":\"6\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":160,"y":720,"wires":[[]]},{"id":"5ec519f9eabf1b16","type":"api-current-state","z":"41f5e6d.392be18","name":"AQI > 15 ?","server":"5253889.fa04678","version":3,"outputs":2,"halt_if":"15","halt_if_type":"num","halt_if_compare":"gt","entity_id":"sensor.air_purifier_bedroom_air_quality_pm25","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":890,"y":700,"wires":[["dabade3a565fc418"],["2b4093e26de7e226"]]},{"id":"dabade3a565fc418","type":"api-call-service","z":"41f5e6d.392be18","name":"Fan set speed 3","server":"5253889.fa04678","version":5,"debugenabled":false,"domain":"xiaomi_miio","service":"fan_set_favorite_level","areaId":[],"deviceId":[],"entityId":["fan.air_purifier_bedroom"],"data":"{\"level\":\"3\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":700,"wires":[[]]},{"id":"bc717b361ede4d1e","type":"api-call-service","z":"41f5e6d.392be18","name":"Notify Nobody's home","server":"5253889.fa04678","version":5,"debugenabled":false,"domain":"notify","service":"wojciech_devices","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"Set fan speed\",\"message\":\"3\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":160,"y":780,"wires":[[]]},{"id":"2b4093e26de7e226","type":"api-call-service","z":"41f5e6d.392be18","name":"Fan set auto","server":"5253889.fa04678","version":5,"debugenabled":false,"domain":"fan","service":"set_speed","areaId":[],"deviceId":[],"entityId":["fan.air_purifier_bedroom"],"data":"{\"speed\":\"auto\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1090,"y":760,"wires":[[]]},{"id":"cba0f36f465583d6","type":"api-call-service","z":"41f5e6d.392be18","name":"Notify Nobody's home","server":"5253889.fa04678","version":5,"debugenabled":false,"domain":"notify","service":"wojciech_devices","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"Set speed\",\"message\":\"Auto\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":160,"y":840,"wires":[[]]},{"id":"2614a0bf0283f3b6","type":"api-call-service","z":"41f5e6d.392be18","name":"Fan set auto","server":"5253889.fa04678","version":5,"debugenabled":false,"domain":"fan","service":"set_speed","areaId":[],"deviceId":[],"entityId":["fan.air_purifier_bedroom"],"data":"{\"speed\":\"auto\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":970,"y":320,"wires":[["f6116dbf290579d7"]]},{"id":"6ff4c96132121292","type":"api-current-state","z":"41f5e6d.392be18","name":"Is any window open?","server":"5253889.fa04678","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"group.all_windows","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":340,"y":460,"wires":[[],["c2a64dd0c735e0e9"]]},{"id":"922a6db4.96033","type":"api-call-service","z":"371218cc.564568","name":"Office desk light on","server":"5253889.fa04678","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.mi_led_desk_lamp"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1370,"y":120,"wires":[[]]},{"id":"c7116eb.957ec9","type":"api-call-service","z":"371218cc.564568","name":"Office desk light Off","server":"5253889.fa04678","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.mi_led_desk_lamp"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1370,"y":200,"wires":[[]]},{"id":"751bb38f.1b433c","type":"poll-state","z":"371218cc.564568","name":"","server":"5253889.fa04678","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"1","updateIntervalType":"num","updateIntervalUnits":"minutes","outputinitially":false,"outputonchanged":true,"entity_id":"binary_sensor.laptop_wojciech_ping","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":230,"y":160,"wires":[["f248eb19.4fec48"]]},{"id":"b604f47b.177b18","type":"server-state-changed","z":"371218cc.564568","name":"","server":"5253889.fa04678","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.laptop_wojciech_ping","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":210,"y":120,"wires":[["f248eb19.4fec48"]]},{"id":"f248eb19.4fec48","type":"switch","z":"371218cc.564568","name":"On - Off ?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":540,"y":200,"wires":[["5ae2e206.4d7cfc"],["5dfd3001.317c9"]]},{"id":"5dfd3001.317c9","type":"api-current-state","z":"371218cc.564568","name":"Office desk light on ?","server":"5253889.fa04678","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.mi_led_desk_lamp","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1160,"y":200,"wires":[["c7116eb.957ec9"]]},{"id":"5ae2e206.4d7cfc","type":"api-current-state","z":"371218cc.564568","name":"Light < 50 lx ?","server":"5253889.fa04678","version":3,"outputs":2,"halt_if":"50","halt_if_type":"num","halt_if_compare":"lt","entity_id":"sensor.oneplus_7_sensor_swiatla","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":740,"y":120,"wires":[["b64f94a5.3c2d08"],["624b09.744ef4f8"]]},{"id":"624b09.744ef4f8","type":"api-current-state","z":"371218cc.564568","name":"Light < 150 lx ?","server":"5253889.fa04678","version":3,"outputs":2,"halt_if":"150","halt_if_type":"num","halt_if_compare":"lt","entity_id":"sensor.oneplus_7_sensor_swiatla","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":940,"y":160,"wires":[["b64f94a5.3c2d08"],["5dfd3001.317c9"]]},{"id":"b64f94a5.3c2d08","type":"api-current-state","z":"371218cc.564568","name":"Office desk light off ?","server":"5253889.fa04678","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"light.mi_led_desk_lamp","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1160,"y":120,"wires":[["922a6db4.96033"]]},{"id":"1bc3721f.e4140e","type":"change","z":"a6a6544f.229a78","name":"Set path_1","rules":[{"t":"set","p":"paths","pt":"msg","to":"path_1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":160,"wires":[["f75ef68f.3d08b8","dfabab1c.1a1368"]]},{"id":"ab07ef06.dc5ba","type":"change","z":"a6a6544f.229a78","name":"Set path_2","rules":[{"t":"set","p":"paths","pt":"msg","to":"path_2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":200,"wires":[["f75ef68f.3d08b8"]]},{"id":"f75ef68f.3d08b8","type":"join-wait","z":"a6a6544f.229a78","name":"Join and wait 5 min","paths":"[\"path_1\", \"path_2\"]","pathsToExpire":"","useRegex":false,"ignoreUnmatched":false,"pathTopic":"paths","pathTopicType":"msg","correlationTopic":"","correlationTopicType":"msg","timeout":"5","timeoutUnits":"60000","exactOrder":"true","firstMsg":"true","mapPayload":"true","disableComplete":false,"x":1170,"y":200,"wires":[["b668955a.01df08","bf365d4b.e98a9"],[]]},{"id":"edea4d63.790ba","type":"server-state-changed","z":"a6a6544f.229a78","name":"Wojciech disconnects wifi ?","server":"5253889.fa04678","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.wojciech_wifi","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":310,"y":220,"wires":[["b5608bde.0f9b88"],[]]},{"id":"b5608bde.0f9b88","type":"api-current-state","z":"a6a6544f.229a78","name":"Justyna not home","server":"5253889.fa04678","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.justyna_home","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":550,"y":220,"wires":[["ab07ef06.dc5ba"],[]]},{"id":"e45e0715.5ce568","type":"server-state-changed","z":"a6a6544f.229a78","name":"Justyna disconnects wifi ?","server":"5253889.fa04678","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.justyna_wifi","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":310,"y":280,"wires":[["39d87f1.ac21f8"],[]]},{"id":"39d87f1.ac21f8","type":"api-current-state","z":"a6a6544f.229a78","name":"Wojciech not home","server":"5253889.fa04678","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.wojciech_home","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":550,"y":280,"wires":[["ab07ef06.dc5ba"],[]]},{"id":"b668955a.01df08","type":"api-call-service","z":"a6a6544f.229a78","name":"Turn the all lights off","server":"5253889.fa04678","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["group.all_lights"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1420,"y":200,"wires":[[]]},{"id":"f53ea4a8.9ebd08","type":"api-call-service","z":"a6a6544f.229a78","name":"Gateway hall - Play ringtome","server":"5253889.fa04678","version":5,"debugenabled":true,"domain":"xiaomi_aqara","service":"play_ringtone","areaId":[],"deviceId":[],"entityId":[],"data":"{\"gw_mac\":\"04cf8c8f8670\",\"ringtone_id\":11,\"ringtone_vol\":1}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1440,"y":260,"wires":[[]]},{"id":"cf1fd15c.e6f37","type":"server-state-changed","z":"a6a6544f.229a78","name":"Door entrance closes ?","server":"5253889.fa04678","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.door_entrance_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":320,"y":120,"wires":[["1bc3721f.e4140e"],[]]},{"id":"dfabab1c.1a1368","type":"join-wait","z":"a6a6544f.229a78","name":"Join and wait 5 min","paths":"[\"path_1\", \"path_2\"]","pathsToExpire":"","useRegex":false,"ignoreUnmatched":false,"pathTopic":"paths","pathTopicType":"msg","correlationTopic":"","correlationTopicType":"msg","timeout":"5","timeoutUnits":"60000","exactOrder":"true","firstMsg":"true","mapPayload":"true","disableComplete":false,"x":1170,"y":340,"wires":[["b668955a.01df08","ca0928d6.a35d68"],[]]},{"id":"2cbba153.5acf0e","type":"server-state-changed","z":"a6a6544f.229a78","name":"Wojciech disconnects wifi ?","server":"5253889.fa04678","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.wojciech_wifi","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":310,"y":380,"wires":[["8c4eb2fa.b4562"],[]]},{"id":"245e2faf.785a9","type":"server-state-changed","z":"a6a6544f.229a78","name":"Justyna disconnects wifi ?","server":"5253889.fa04678","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.justyna_wifi","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":310,"y":440,"wires":[["8d0ba7a9.5e1138"],[]]},{"id":"d530b7bb.d549b8","type":"join-wait","z":"a6a6544f.229a78","name":"Join and wait 3 min","paths":"[\"path_1\", \"path_2\"]","pathsToExpire":"","useRegex":false,"ignoreUnmatched":false,"pathTopic":"paths","pathTopicType":"msg","correlationTopic":"","correlationTopicType":"msg","timeout":"3","timeoutUnits":"60000","exactOrder":"false","firstMsg":"true","mapPayload":"true","disableComplete":false,"x":730,"y":380,"wires":[["f22b09e6.ea0d58"],[]]},{"id":"8c4eb2fa.b4562","type":"change","z":"a6a6544f.229a78","name":"Set path_1","rules":[{"t":"set","p":"paths","pt":"msg","to":"path_1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":380,"wires":[["d530b7bb.d549b8"]]},{"id":"8d0ba7a9.5e1138","type":"change","z":"a6a6544f.229a78","name":"Set path_2","rules":[{"t":"set","p":"paths","pt":"msg","to":"path_2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":440,"wires":[["d530b7bb.d549b8"]]},{"id":"f22b09e6.ea0d58","type":"change","z":"a6a6544f.229a78","name":"Set path_2","rules":[{"t":"set","p":"paths","pt":"msg","to":"path_2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":380,"wires":[["dfabab1c.1a1368"]]},{"id":"bf365d4b.e98a9","type":"api-call-service","z":"a6a6544f.229a78","name":"Notify Nobody's home","server":"5253889.fa04678","version":5,"debugenabled":false,"domain":"notify","service":"wojciech_devices","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"Both's out - way #1\",\"message\":\"Gasze swiatla\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1420,"y":140,"wires":[[]]},{"id":"ca0928d6.a35d68","type":"api-call-service","z":"a6a6544f.229a78","name":"Notify Both out","server":"5253889.fa04678","version":5,"debugenabled":false,"domain":"notify","service":"wojciech_devices","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"Both out way #2\",\"message\":\"Gasze swiatla\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1400,"y":340,"wires":[[]]},{"id":"3cc47352.8f68bc","type":"server-state-changed","z":"2014f45.521b30c","name":"Wojciech connects wifi ?","server":"5253889.fa04678","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.wojciech_wifi","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":210,"y":580,"wires":[["68ca86f5.e63b98"],[]]},{"id":"6339ced0.09e7d","type":"server-state-changed","z":"2014f45.521b30c","name":"Justyna connects wifi ?","server":"5253889.fa04678","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.justyna_wifi","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":220,"y":640,"wires":[["68ca86f5.e63b98"],[]]},{"id":"949233.97626dd","type":"server-state-changed","z":"2014f45.521b30c","name":"Door entrance opens ?","server":"5253889.fa04678","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.door_entrance_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":220,"y":300,"wires":[["12f99ee3.96edf1","eeaeb484.28a7e8"],[]]},{"id":"12f99ee3.96edf1","type":"change","z":"2014f45.521b30c","name":"Set path_1","rules":[{"t":"set","p":"paths","pt":"msg","to":"path_1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":480,"wires":[["740253b4.38d2fc"]]},{"id":"68ca86f5.e63b98","type":"change","z":"2014f45.521b30c","name":"Set path_2","rules":[{"t":"set","p":"paths","pt":"msg","to":"path_2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":520,"wires":[["740253b4.38d2fc"]]},{"id":"eeaeb484.28a7e8","type":"api-current-state","z":"2014f45.521b30c","name":"Is somebody at home?","server":"5253889.fa04678","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"group.family_wifi","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":660,"y":220,"wires":[["ef07eb376b95e2da"],["9fd60abb5cf17e53"]]},{"id":"740253b4.38d2fc","type":"join-wait","z":"2014f45.521b30c","name":"Join and wait 30 sec","paths":"[\"path_1\", \"path_2\"]","pathsToExpire":"","useRegex":false,"ignoreUnmatched":false,"pathTopic":"paths","pathTopicType":"msg","correlationTopic":"","correlationTopicType":"msg","timeout":"30","timeoutUnits":"1000","exactOrder":"false","firstMsg":"true","mapPayload":"true","disableComplete":false,"x":760,"y":480,"wires":[["9fd60abb5cf17e53"],[]]},{"id":"1b5b9a1c.e34656","type":"api-call-service","z":"2014f45.521b30c","name":"Turn the entrance light on","server":"5253889.fa04678","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.light_1_entrance"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1450,"y":300,"wires":[["159bcccb.f62f83"]]},{"id":"11d94e04.96b332","type":"delay","z":"2014f45.521b30c","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1240,"y":300,"wires":[["1b5b9a1c.e34656","893211b5.41e0b"]]},{"id":"893211b5.41e0b","type":"api-call-service","z":"2014f45.521b30c","name":"Turn the kitchen desk lights on","server":"5253889.fa04678","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.light_desk_kitchen"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1470,"y":360,"wires":[[]]},{"id":"159bcccb.f62f83","type":"delay","z":"2014f45.521b30c","name":"","pauseType":"delay","timeout":"90","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1660,"y":300,"wires":[["fc13cba5.3e34a8"]]},{"id":"fc13cba5.3e34a8","type":"api-call-service","z":"2014f45.521b30c","name":"Turn the entrance light off","server":"5253889.fa04678","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.light_1_entrance"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1870,"y":300,"wires":[[]]},{"id":"9fd60abb5cf17e53","type":"api-current-state","z":"2014f45.521b30c","name":"Is sun above horizon?","server":"5253889.fa04678","version":3,"outputs":2,"halt_if":"above_horizon","halt_if_type":"str","halt_if_compare":"is","entity_id":"sun.sun","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1040,"y":300,"wires":[[],["11d94e04.96b332"]]},{"id":"ef07eb376b95e2da","type":"api-current-state","z":"2014f45.521b30c","name":"Is light desk kitchen on?","server":"5253889.fa04678","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.light_desk_kitchen","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":650,"y":300,"wires":[[],["89dfde6c5a9be3e6"]]},{"id":"89dfde6c5a9be3e6","type":"api-current-state","z":"2014f45.521b30c","name":"Is light entrance on?","server":"5253889.fa04678","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.light_1_entrance","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":640,"y":380,"wires":[[],["9fd60abb5cf17e53"]]},{"id":"dfa58cc9.a9342","type":"api-call-service","z":"c85bed85.16c69","name":"Toggle Bedroom Ceiling Light","server":"5253889.fa04678","version":5,"debugenabled":false,"domain":"light","service":"toggle","areaId":[],"deviceId":[],"entityId":["light.yeelight_color_bedroom"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1360,"y":240,"wires":[[]]},{"id":"e7ce3561.1a6438","type":"server-state-changed","z":"c85bed85.16c69","name":"Kitchen desk switch","server":"5253889.fa04678","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.switch_wall_switch_kitchen_desk_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"single","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":1090,"y":240,"wires":[["dfa58cc9.a9342"],[]]},{"id":"d38750ec.c3ca3","type":"change","z":"c85bed85.16c69","name":"Set path_1","rules":[{"t":"set","p":"paths","pt":"msg","to":"path_1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":80,"wires":[["46176e9.3cbd69"]]},{"id":"a3c6917d.aae14","type":"change","z":"c85bed85.16c69","name":"Set path_2","rules":[{"t":"set","p":"paths","pt":"msg","to":"path_2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":120,"wires":[["46176e9.3cbd69"]]},{"id":"46176e9.3cbd69","type":"join-wait","z":"c85bed85.16c69","name":"Join and wait 3 s","paths":"[\"path_1\", \"path_2\"]","pathsToExpire":"","useRegex":false,"ignoreUnmatched":false,"pathTopic":"paths","pathTopicType":"msg","correlationTopic":"","correlationTopicType":"msg","timeout":"3","timeoutUnits":"1000","exactOrder":"true","firstMsg":"true","mapPayload":"true","disableComplete":false,"x":630,"y":80,"wires":[["1890caf5.48c3a5"],[]]},{"id":"1890caf5.48c3a5","type":"api-call-service","z":"c85bed85.16c69","name":"Toggle Kitchen Desk Light","server":"5253889.fa04678","version":5,"debugenabled":false,"domain":"light","service":"toggle","areaId":[],"deviceId":[],"entityId":["light.light_desk_kitchen"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":890,"y":80,"wires":[[]]},{"id":"82766bb2.e51428","type":"trigger-state","z":"c85bed85.16c69","name":"Fan 1 kitchen on?","server":"5253889.fa04678","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"switch.fan_1_kitchen","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off","propertyValue":"old_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":170,"y":80,"wires":[["d38750ec.c3ca3"],[]]},{"id":"d511f577.695278","type":"trigger-state","z":"c85bed85.16c69","name":"Fan 1 kitchen off?","server":"5253889.fa04678","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"switch.fan_1_kitchen","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"old_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off","propertyValue":"new_state.state"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":170,"y":140,"wires":[["a3c6917d.aae14"],[]]},{"id":"d5c278f0.3964f8","type":"api-call-service","z":"c85bed85.16c69","name":"Toggle Light desk kitchen","server":"5253889.fa04678","version":5,"debugenabled":false,"domain":"light","service":"toggle","areaId":[],"deviceId":[],"entityId":["light.light_desk_kitchen"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1350,"y":300,"wires":[[]]},{"id":"af166154.4ac01","type":"server-state-changed","z":"c85bed85.16c69","name":"Kitchen desk switch","server":"5253889.fa04678","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.switch_wall_switch_kitchen_table_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"single","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":1090,"y":300,"wires":[["d5c278f0.3964f8"],[]]},{"id":"13418a1c.9b3906","type":"trigger-state","z":"c85bed85.16c69","name":"Light 2 office on?","server":"5253889.fa04678","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"light.light_2_office","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off","propertyValue":"old_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":150,"y":600,"wires":[[],[]]},{"id":"159c6ceb.6895b3","type":"api-current-state","z":"c85bed85.16c69","name":"Wojciech Laptop work off?","server":"5253889.fa04678","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"switch.wojciech_laptop_work_wol","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":680,"y":600,"wires":[["4f49c467.883e5c"],["3fe77cd8.966fc4"]]},{"id":"4f49c467.883e5c","type":"api-call-service","z":"c85bed85.16c69","name":"Turn Wojciech Laptop work on","server":"5253889.fa04678","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.wojciech_laptop_work_wol"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":970,"y":600,"wires":[["7c1cbe7f.899bd"]]},{"id":"7c1cbe7f.899bd","type":"api-call-service","z":"c85bed85.16c69","name":"Turn Light 2 office off","server":"5253889.fa04678","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.light_2_office"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1260,"y":600,"wires":[[]]},{"id":"3fe77cd8.966fc4","type":"api-call-service","z":"c85bed85.16c69","name":"Toggle Office Desk Lamp","server":"5253889.fa04678","version":5,"debugenabled":false,"domain":"light","service":"toggle","areaId":[],"deviceId":[],"entityId":["light.mi_led_desk_lamp"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":950,"y":660,"wires":[["54e69597.c8cc6c"]]},{"id":"54e69597.c8cc6c","type":"api-call-service","z":"c85bed85.16c69","name":"Turn Light 2 office off","server":"5253889.fa04678","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.light_2_office"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1260,"y":660,"wires":[[]]},{"id":"e19bc726.a28688","type":"trigger-state","z":"c85bed85.16c69","name":"Light desk kitchen on?","server":"5253889.fa04678","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"light.light_desk_kitchen","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off","propertyValue":"old_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":160,"y":500,"wires":[["db7d5294.c4173"],[]]},{"id":"db7d5294.c4173","type":"api-call-service","z":"c85bed85.16c69","name":"Turn Light 2 office on","server":"5253889.fa04678","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.light_2_office"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":400,"y":500,"wires":[["ec5a34a7.1934e8"]]},{"id":"ec5a34a7.1934e8","type":"change","z":"c85bed85.16c69","name":"STOP","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":500,"wires":[[]]},{"id":"a51eb95c.358d08","type":"trigger-state","z":"c85bed85.16c69","name":"Light 2 office off?","server":"5253889.fa04678","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"light.light_2_office","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"old_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off","propertyValue":"new_state.state"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":150,"y":420,"wires":[["dbc8c7a1.851228"],[]]},{"id":"dbc8c7a1.851228","type":"api-call-service","z":"c85bed85.16c69","name":"Light desk kitchen off","server":"5253889.fa04678","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.light_desk_kitchen"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":640,"y":420,"wires":[[]]},{"id":"4379abc2.e4e8d4","type":"api-current-state","z":"c85bed85.16c69","name":"Light 2 office on?","server":"5253889.fa04678","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.light_2_office","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":390,"y":360,"wires":[["e6a87f8.274eb8"]]},{"id":"e6a87f8.274eb8","type":"api-call-service","z":"c85bed85.16c69","name":"Turn Light 2 office off","server":"5253889.fa04678","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.light_2_office"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":640,"y":360,"wires":[[]]},{"id":"21dd27b5.057498","type":"trigger-state","z":"c85bed85.16c69","name":"Light desk kitchen off?","server":"5253889.fa04678","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"light.light_desk_kitchen","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"old_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off","propertyValue":"new_state.state"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":160,"y":360,"wires":[["4379abc2.e4e8d4"],[]]},{"id":"4eda62a60213cab6","type":"trigger-state","z":"e9f889aa2061717f","name":"Wardrobe entrance opens","server":"5253889.fa04678","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.wardrobe_entrance_contact","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":250,"y":200,"wires":[["e62e108bb04f4c39"],["3675c32068f0c721"]]},{"id":"e62e108bb04f4c39","type":"api-call-service","z":"e9f889aa2061717f","name":"Turn entrance light on","server":"5253889.fa04678","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.light_1_entrance"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":540,"y":200,"wires":[["d32daa3a5ffa4165"]]},{"id":"2837cde3d008b0ec","type":"api-call-service","z":"e9f889aa2061717f","name":"Turn entrance light off","server":"5253889.fa04678","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.light_1_entrance"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":740,"y":300,"wires":[[]]},{"id":"d32daa3a5ffa4165","type":"change","z":"e9f889aa2061717f","name":"STOP","rules":[{"t":"set","p":"reset","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":300,"wires":[["3675c32068f0c721"]]},{"id":"3675c32068f0c721","type":"delay","z":"e9f889aa2061717f","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":500,"y":300,"wires":[["2837cde3d008b0ec"]]},{"id":"e4c8aaaa.109988","type":"trigger-state","z":"87beabed.c2c1a8","name":"away --> home","server":"5253889.fa04678","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"device_tracker.life360_trevor","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"away","propertyValue":"old_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"home","propertyValue":"new_state.state"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":140,"y":240,"wires":[["8873eb4f.44bdd8"],[]]},{"id":"8873eb4f.44bdd8","type":"change","z":"87beabed.c2c1a8","name":"enable","rules":[{"t":"set","p":"payload","pt":"msg","to":"enable","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":240,"wires":[["37b05f5e.2cd5c"]]},{"id":"37b05f5e.2cd5c","type":"trigger-state","z":"87beabed.c2c1a8","name":"Front door opens","server":"5253889.fa04678","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.wyzesense_frontdoor","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off","propertyValue":"old_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":550,"y":240,"wires":[["b93d040e.44a2d8"],[]]},{"id":"b93d040e.44a2d8","type":"change","z":"87beabed.c2c1a8","name":"\"Welcome Home\"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Welcome Home","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":240,"wires":[["a9461e4f.ecbec"]]},{"id":"a9461e4f.ecbec","type":"cast-to-client","z":"87beabed.c2c1a8","name":"","url":"","contentType":"","message":"The front door is open","language":"en","ip":"192.168.0.19","port":"","volume":"","x":1090,"y":20,"wires":[[]]},{"id":"a630bd1d.1d1f3","type":"trigger-state","z":"43e641bc.d75cd","name":"Kitchen desk light on ?","server":"5253889.fa04678","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"light.light_desk_kitchen","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off","propertyValue":"old_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":200,"y":200,"wires":[["f467bed9.fb9ca"],[]]},{"id":"d039c5d3.b673e8","type":"api-current-state","z":"43e641bc.d75cd","name":"TV off ?","server":"5253889.fa04678","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.android_tv","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":460,"y":200,"wires":[["f54e6bf1.3e0868"],[]]},{"id":"f54e6bf1.3e0868","type":"api-current-state","z":"43e641bc.d75cd","name":"Work laptop on ?","server":"5253889.fa04678","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.android_tv","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":490,"y":260,"wires":[[],[]]},{"id":"f467bed9.fb9ca","type":"api-current-state","z":"43e641bc.d75cd","name":"Justyna not home ?","server":"5253889.fa04678","version":3,"outputs":2,"halt_if":"not_home","halt_if_type":"str","halt_if_compare":"is","entity_id":"person.justyna","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":490,"y":140,"wires":[["d039c5d3.b673e8"],[]]},{"id":"809e091d.ba70f8","type":"bigtimer","z":"43e641bc.d75cd","outtopic":"","outpayload1":"","outpayload2":"","name":"Big Timer","comment":"","lat":0,"lon":0,"starttime":5001,"endtime":1425,"starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":0,"xmonth7":0,"xday8":0,"xmonth8":0,"xday9":0,"xmonth9":0,"xday10":0,"xmonth10":0,"xday11":0,"xmonth11":0,"xday12":0,"xmonth12":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":460,"y":400,"wires":[[],[],[]]},{"id":"443984d.4919a7c","type":"cast-to-client","z":"309a8d8d.51ec22","name":"","url":"","contentType":"","message":"","language":"de","ip":"192.168.55.10","port":"","volume":"","x":640,"y":180,"wires":[["cad88339.e69ff"]]},{"id":"cc601032.ef8b9","type":"inject","z":"309a8d8d.51ec22","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"youtube","payloadType":"str","x":250,"y":180,"wires":[["62aea8fa.99c718"]]},{"id":"cad88339.e69ff","type":"debug","z":"309a8d8d.51ec22","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":180,"wires":[]},{"id":"62aea8fa.99c718","type":"change","z":"309a8d8d.51ec22","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"http://192.168.55.4:8123/local/media/trytytyty.mp4","tot":"str"},{"t":"set","p":"contentType","pt":"msg","to":"cast","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":180,"wires":[["443984d.4919a7c"]]},{"id":"c4d9d977.484068","type":"cast-to-client","z":"309a8d8d.51ec22","name":"","url":"","contentType":"","message":"","language":"en","ip":"192.168.55.8","port":"","volume":"","x":690,"y":500,"wires":[["98ac674c.cf52d8"]]},{"id":"86798168.185b7","type":"inject","z":"309a8d8d.51ec22","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":500,"wires":[["b8e606ea.49f628"]]},{"id":"b8e606ea.49f628","type":"change","z":"309a8d8d.51ec22","name":"","rules":[{"t":"set","p":"ip","pt":"msg","to":"192.168.55.8","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"http://does niot exists","tot":"str"},{"t":"set","p":"contentType","pt":"msg","to":"audio/mp3","tot":"str"},{"t":"set","p":"streamType","pt":"msg","to":"BUFFERED","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":500,"wires":[["c4d9d977.484068"]]},{"id":"98ac674c.cf52d8","type":"debug","z":"309a8d8d.51ec22","name":"test3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":500,"wires":[]},{"id":"a21f1807.41d7f8","type":"cast-to-client","z":"309a8d8d.51ec22","name":"","url":"https://www.youtube.com/watch?v=73dTS-0HTYk","contentType":"cast","message":"","language":"en","ip":"192.168.55.5","port":"","volume":"","x":550,"y":320,"wires":[["fba1eb3.2515918"]]},{"id":"74313baf.f282f4","type":"inject","z":"309a8d8d.51ec22","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":320,"wires":[["a21f1807.41d7f8"]]},{"id":"53d91dd8.67b924","type":"change","z":"309a8d8d.51ec22","name":"","rules":[{"t":"set","p":"ip","pt":"msg","to":"192.168.55.8","tot":"str"},{"t":"set","p":"data","pt":"msg","to":"{             \"app_name\": \"youtube\",             \"media_id\": \"dQw4w9WgXcQ\"           }","tot":"str"},{"t":"set","p":"contentType","pt":"msg","to":"cast","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":380,"wires":[[]]},{"id":"fba1eb3.2515918","type":"debug","z":"309a8d8d.51ec22","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":320,"wires":[]},{"id":"9ef34079.24061","type":"comment","z":"309a8d8d.51ec22","name":"stream a url","info":"","x":210,"y":280,"wires":[]}]