node-red/.flows.json.backup
[{"id":"371218cc.564568","type":"tab","label":"Office desk lamp","disabled":false,"info":""},{"id":"9c086b58.408948","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"155a42b2.1d725d","type":"server","name":"Home Assistant","addon":true},{"id":"922a6db4.96033","type":"api-call-service","z":"371218cc.564568","name":"Office desk light on","server":"155a42b2.1d725d","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.mi_led_desk_lamp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1450,"y":60,"wires":[[]]},{"id":"c7116eb.957ec9","type":"api-call-service","z":"371218cc.564568","name":"Office desk light Off","server":"155a42b2.1d725d","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.mi_led_desk_lamp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1450,"y":180,"wires":[[]]},{"id":"751bb38f.1b433c","type":"poll-state","z":"371218cc.564568","name":"","server":"155a42b2.1d725d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"60","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":true,"entity_id":"binary_sensor.laptop_wojciech","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":220,"y":220,"wires":[["f248eb19.4fec48"]]},{"id":"b604f47b.177b18","type":"server-state-changed","z":"371218cc.564568","name":"","server":"155a42b2.1d725d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.laptop_wojciech","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":210,"y":140,"wires":[["f248eb19.4fec48"]]},{"id":"f248eb19.4fec48","type":"switch","z":"371218cc.564568","name":"On - Off ?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":160,"wires":[["5ae2e206.4d7cfc"],["5dfd3001.317c9"]]},{"id":"5dfd3001.317c9","type":"api-current-state","z":"371218cc.564568","name":"Office desk light on ?","server":"155a42b2.1d725d","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.mi_led_desk_lamp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1200,"y":180,"wires":[["c7116eb.957ec9"]]},{"id":"5ae2e206.4d7cfc","type":"api-current-state","z":"371218cc.564568","name":"Light < 50 lx ?","server":"155a42b2.1d725d","version":1,"outputs":2,"halt_if":"50","halt_if_type":"num","halt_if_compare":"lt","override_topic":false,"entity_id":"sensor.oneplus_7_sensor_swiatla","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":720,"y":60,"wires":[["b64f94a5.3c2d08"],["624b09.744ef4f8"]]},{"id":"624b09.744ef4f8","type":"api-current-state","z":"371218cc.564568","name":"Light > 150 lx ?","server":"155a42b2.1d725d","version":1,"outputs":2,"halt_if":"150","halt_if_type":"num","halt_if_compare":"gt","override_topic":false,"entity_id":"sensor.oneplus_7_sensor_swiatla","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":960,"y":180,"wires":[["b64f94a5.3c2d08"],["5dfd3001.317c9"]]},{"id":"b64f94a5.3c2d08","type":"api-current-state","z":"371218cc.564568","name":"Office desk light off ?","server":"155a42b2.1d725d","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"light.mi_led_desk_lamp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1200,"y":60,"wires":[["922a6db4.96033"]]},{"id":"e88f20b3.9724e","type":"server-state-changed","z":"9c086b58.408948","name":"Left side bed motion sensor","server":"155a42b2.1d725d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.binary_sensor_motion_sensor_left_bedroom_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":180,"y":100,"wires":[["35908168.50651e"]]},{"id":"ae56103b.b77e4","type":"server-state-changed","z":"9c086b58.408948","name":"Right side bed motion sensor","server":"155a42b2.1d725d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.binary_sensor_motion_sensor_right_bedroom_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":180,"y":140,"wires":[["35908168.50651e"]]},{"id":"35908168.50651e","type":"switch","z":"9c086b58.408948","name":"Motion ?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":120,"wires":[["c403b7f8.cd4288"],[]]},{"id":"c403b7f8.cd4288","type":"time-range-switch","z":"9c086b58.408948","name":"","lat":"","lon":"","startTime":"19:00","endTime":"7:00","startOffset":0,"endOffset":0,"x":590,"y":120,"wires":[[],["e8d5e650.783a58"]]},{"id":"e8d5e650.783a58","type":"api-current-state","z":"9c086b58.408948","name":"Gateway lights off ?","server":"155a42b2.1d725d","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"group.gateway_lights","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":870,"y":60,"wires":[["97ce3765.a16958"]]},{"id":"97ce3765.a16958","type":"api-call-service","z":"9c086b58.408948","name":"Gateways lights on","server":"155a42b2.1d725d","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"group.gateway_lights","data":"{\"brightness\":50,\"rgb_color\":[130,80,40]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1140,"y":60,"wires":[[]]}]