node-red/flows.json
[{"id":"371218cc.564568","type":"tab","label":"Office desk lamp","disabled":true,"info":""},{"id":"9c086b58.408948","type":"tab","label":"Bedroom night walk","disabled":false,"info":""},{"id":"a6a6544f.229a78","type":"tab","label":"Absence","disabled":false,"info":"**Each of us is leaving separately**\n- When entrance door is opened and then close\n- And phone wifi is disconnected when:\n    - Justyna not home\n    - Wojciech not home\n- In time of 3 minutes\n- Then turn the all lights off\n\n**We are leaving home together**\n- When entrace door is opened and then close\n- And our phones wifi is disconnected\n- In time of 3 minutes\n- Then turn the all lights off"},{"id":"2014f45.521b30c","type":"tab","label":"Presence","disabled":false,"info":""},{"id":"c85bed85.16c69","type":"tab","label":"Aqara wall switches","disabled":false,"info":""},{"id":"81c9077d.0f67a8","type":"tab","label":"Humidifier","disabled":false,"info":""},{"id":"87beabed.c2c1a8","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"998eedf5.f2823","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"155a42b2.1d725d","type":"server","name":"Home Assistant","addon":true},{"id":"3462c8df.e306f8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"26956a45.92d866","type":"server","name":"Hass.io","legacy":false,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"5253889.fa04678","type":"server","name":"Home Assistant","legacy":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"922a6db4.96033","type":"api-call-service","z":"371218cc.564568","name":"Office desk light on","server":"155a42b2.1d725d","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.mi_led_desk_lamp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1370,"y":120,"wires":[[]]},{"id":"c7116eb.957ec9","type":"api-call-service","z":"371218cc.564568","name":"Office desk light Off","server":"155a42b2.1d725d","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.mi_led_desk_lamp","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1370,"y":200,"wires":[[]]},{"id":"751bb38f.1b433c","type":"poll-state","z":"371218cc.564568","name":"","server":"155a42b2.1d725d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"1","updateIntervalUnits":"minutes","outputinitially":false,"outputonchanged":true,"entity_id":"binary_sensor.laptop_wojciech_ping","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":230,"y":160,"wires":[["f248eb19.4fec48"]]},{"id":"b604f47b.177b18","type":"server-state-changed","z":"371218cc.564568","name":"","server":"155a42b2.1d725d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.laptop_wojciech_ping","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":210,"y":120,"wires":[["f248eb19.4fec48"]]},{"id":"f248eb19.4fec48","type":"switch","z":"371218cc.564568","name":"On - Off ?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":540,"y":200,"wires":[["5ae2e206.4d7cfc"],["5dfd3001.317c9"]]},{"id":"5dfd3001.317c9","type":"api-current-state","z":"371218cc.564568","name":"Office desk light on ?","server":"155a42b2.1d725d","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.mi_led_desk_lamp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1160,"y":200,"wires":[["c7116eb.957ec9"]]},{"id":"5ae2e206.4d7cfc","type":"api-current-state","z":"371218cc.564568","name":"Light < 50 lx ?","server":"155a42b2.1d725d","version":1,"outputs":2,"halt_if":"50","halt_if_type":"num","halt_if_compare":"lt","override_topic":false,"entity_id":"sensor.oneplus_7_sensor_swiatla","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":740,"y":120,"wires":[["b64f94a5.3c2d08"],["624b09.744ef4f8"]]},{"id":"624b09.744ef4f8","type":"api-current-state","z":"371218cc.564568","name":"Light < 150 lx ?","server":"155a42b2.1d725d","version":1,"outputs":2,"halt_if":"150","halt_if_type":"num","halt_if_compare":"lt","override_topic":false,"entity_id":"sensor.oneplus_7_sensor_swiatla","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":940,"y":160,"wires":[["b64f94a5.3c2d08"],["5dfd3001.317c9"]]},{"id":"b64f94a5.3c2d08","type":"api-current-state","z":"371218cc.564568","name":"Office desk light off ?","server":"155a42b2.1d725d","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"light.mi_led_desk_lamp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1160,"y":120,"wires":[["922a6db4.96033"]]},{"id":"e4c8aaaa.109988","type":"trigger-state","z":"87beabed.c2c1a8","name":"away --> home","server":"5253889.fa04678","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"device_tracker.life360_trevor","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"away","propertyValue":"old_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"home","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":140,"y":240,"wires":[["8873eb4f.44bdd8"],[]]},{"id":"8873eb4f.44bdd8","type":"change","z":"87beabed.c2c1a8","name":"enable","rules":[{"t":"set","p":"payload","pt":"msg","to":"enable","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":240,"wires":[["37b05f5e.2cd5c"]]},{"id":"37b05f5e.2cd5c","type":"trigger-state","z":"87beabed.c2c1a8","name":"Front door opens","server":"5253889.fa04678","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.wyzesense_frontdoor","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off","propertyValue":"old_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":550,"y":240,"wires":[["b93d040e.44a2d8"],[]]},{"id":"b93d040e.44a2d8","type":"change","z":"87beabed.c2c1a8","name":"\"Welcome Home\"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Welcome Home","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":240,"wires":[["a9461e4f.ecbec"]]},{"id":"a9461e4f.ecbec","type":"cast-to-client","z":"87beabed.c2c1a8","name":"","url":"","contentType":"","message":"The front door is open","language":"en","ip":"192.168.0.19","port":"","volume":"","x":1090,"y":20,"wires":[[]]},{"id":"120b349e.a8b08b","type":"change","z":"9c086b58.408948","name":"Set path_1","rules":[{"t":"set","p":"paths","pt":"msg","to":"path_1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":720,"wires":[["5af12aa0.210104"]]},{"id":"5af12aa0.210104","type":"join-wait","z":"9c086b58.408948","name":"Join and wait 10 sec","paths":"[\"path_1\", \"path_2\"]","pathsToExpire":"","useRegex":false,"ignoreUnmatched":false,"pathTopic":"paths","pathTopicType":"msg","correlationTopic":"","correlationTopicType":"msg","timeout":"10","timeoutUnits":"1000","exactOrder":"false","firstMsg":"true","mapPayload":"true","disableComplete":false,"x":1040,"y":720,"wires":[["dad79986.17bba8"],[]]},{"id":"411b9b60.17bb34","type":"server-state-changed","z":"9c086b58.408948","name":"Door bedroom opens ?","server":"155a42b2.1d725d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.door_bedroom_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":220,"y":800,"wires":[["e05ae643.ffc9a8"],["9f62635c.a2781"]]},{"id":"e05ae643.ffc9a8","type":"change","z":"9c086b58.408948","name":"Set path_2","rules":[{"t":"set","p":"paths","pt":"msg","to":"path_2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":760,"wires":[["5af12aa0.210104"]]},{"id":"dad79986.17bba8","type":"change","z":"9c086b58.408948","name":"STOP 30 sec","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":720,"wires":[["cbe51af1.4dc898"]]},{"id":"d688b247.5a754","type":"server-state-changed","z":"9c086b58.408948","name":"Left side bed motion sensor","server":"155a42b2.1d725d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.binary_sensor_motion_sensor_left_bedroom_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":200,"y":720,"wires":[["811ecbb7.4eec88","5d1acb1.7bd8034"]]},{"id":"8cfe5142.226f4","type":"server-state-changed","z":"9c086b58.408948","name":"Right side bed motion sensor","server":"155a42b2.1d725d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.binary_sensor_motion_sensor_right_bedroom_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":200,"y":760,"wires":[["811ecbb7.4eec88","5d1acb1.7bd8034"]]},{"id":"811ecbb7.4eec88","type":"switch","z":"9c086b58.408948","name":"Motion ?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":540,"y":560,"wires":[["120b349e.a8b08b","59daa867.df66f8"],[]]},{"id":"cbe51af1.4dc898","type":"stoptimer","z":"9c086b58.408948","duration":"30","units":"Second","payloadtype":"num","payloadval":"0","name":"30 sec","x":1470,"y":540,"wires":[["eee96fba.b820a"],[]]},{"id":"9f62635c.a2781","type":"switch","z":"9c086b58.408948","name":"Open - close ?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1280,"y":860,"wires":[[],["cbe51af1.4dc898"]]},{"id":"59daa867.df66f8","type":"api-current-state","z":"9c086b58.408948","name":"Door bedroom's close ?","server":"155a42b2.1d725d","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.door_bedroom_contact","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":850,"y":620,"wires":[["cbe51af1.4dc898","e400f81.ff74a08"],[]]},{"id":"5d1acb1.7bd8034","type":"switch","z":"9c086b58.408948","name":"Motion ?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":540,"y":520,"wires":[["e0e103af.3ddfd"],["cb171e3a.6b9fe"]]},{"id":"cb171e3a.6b9fe","type":"stoptimer","z":"9c086b58.408948","duration":"3","units":"Minute","payloadtype":"num","payloadval":"0","name":"3 min","x":1470,"y":480,"wires":[["eee96fba.b820a"],[]]},{"id":"e400f81.ff74a08","type":"change","z":"9c086b58.408948","name":"STOP 3 min","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":620,"wires":[["cb171e3a.6b9fe"]]},{"id":"e0e103af.3ddfd","type":"api-current-state","z":"9c086b58.408948","name":"Gateway lights off ?","server":"155a42b2.1d725d","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"group.gateway_lights","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1710,"y":400,"wires":[["3a73d090.99292"]]},{"id":"eee96fba.b820a","type":"api-current-state","z":"9c086b58.408948","name":"Gateway lights on ?","server":"155a42b2.1d725d","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.gateway_lights","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1710,"y":720,"wires":[["6ba6608e.bb896"]]},{"id":"4ec3742f.84b7ec","type":"api-call-service","z":"9c086b58.408948","name":"Gateways lights on 50%","server":"155a42b2.1d725d","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"group.gateway_lights","data":"{\"brightness\":50,\"rgb_color\":[130,80,40]}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2170,"y":400,"wires":[[]]},{"id":"6ba6608e.bb896","type":"api-call-service","z":"9c086b58.408948","name":"Gateways lights off","server":"155a42b2.1d725d","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"group.gateway_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1950,"y":720,"wires":[[]]},{"id":"1f915034.cefa","type":"server-state-changed","z":"9c086b58.408948","name":"Door bathroom opens ?","server":"155a42b2.1d725d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.door_bathroom_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":220,"y":840,"wires":[[],[]]},{"id":"dfa58cc9.a9342","type":"api-call-service","z":"c85bed85.16c69","name":"Bedroom ceiling lamp","server":"155a42b2.1d725d","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.yeelight_color_bedroom","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":880,"y":500,"wires":[[]]},{"id":"e7ce3561.1a6438","type":"server-state-changed","z":"c85bed85.16c69","name":"Kitchen desk switch","server":"155a42b2.1d725d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.switch_wall_switch_kitchen_desk_click","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"single","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":170,"y":500,"wires":[["dfa58cc9.a9342"],[]]},{"id":"3a73d090.99292","type":"time-range-switch","z":"9c086b58.408948","name":"","lat":"","lon":"","startTime":"20:00","endTime":"7:00","startOffset":0,"endOffset":0,"x":1930,"y":400,"wires":[["4ec3742f.84b7ec"],[]]},{"id":"1bc3721f.e4140e","type":"change","z":"a6a6544f.229a78","name":"Set path_1","rules":[{"t":"set","p":"paths","pt":"msg","to":"path_1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":160,"wires":[["f75ef68f.3d08b8","dfabab1c.1a1368"]]},{"id":"ab07ef06.dc5ba","type":"change","z":"a6a6544f.229a78","name":"Set path_2","rules":[{"t":"set","p":"paths","pt":"msg","to":"path_2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":200,"wires":[["f75ef68f.3d08b8"]]},{"id":"f75ef68f.3d08b8","type":"join-wait","z":"a6a6544f.229a78","name":"Join and wait 3 min","paths":"[\"path_1\", \"path_2\"]","pathsToExpire":"","useRegex":false,"ignoreUnmatched":false,"pathTopic":"paths","pathTopicType":"msg","correlationTopic":"","correlationTopicType":"msg","timeout":"3","timeoutUnits":"60000","exactOrder":"true","firstMsg":"true","mapPayload":"true","disableComplete":false,"x":1170,"y":200,"wires":[["bf365d4b.e98a9","b668955a.01df08"],[]]},{"id":"edea4d63.790ba","type":"server-state-changed","z":"a6a6544f.229a78","name":"Wojciech disconnects wifi ?","server":"155a42b2.1d725d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.wojciech_wifi","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":310,"y":220,"wires":[["b5608bde.0f9b88"],[]]},{"id":"b5608bde.0f9b88","type":"api-current-state","z":"a6a6544f.229a78","name":"Justyna not home","server":"155a42b2.1d725d","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.justyna_home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":550,"y":220,"wires":[["ab07ef06.dc5ba"],[]]},{"id":"e45e0715.5ce568","type":"server-state-changed","z":"a6a6544f.229a78","name":"Justyna disconnects wifi ?","server":"155a42b2.1d725d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.justyna_wifi","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":310,"y":280,"wires":[["39d87f1.ac21f8"],[]]},{"id":"39d87f1.ac21f8","type":"api-current-state","z":"a6a6544f.229a78","name":"Wojciech not home","server":"155a42b2.1d725d","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.wojciech_home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":550,"y":280,"wires":[["ab07ef06.dc5ba"],[]]},{"id":"b668955a.01df08","type":"api-call-service","z":"a6a6544f.229a78","name":"Turn the all lights off","server":"155a42b2.1d725d","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"group.all_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1420,"y":200,"wires":[[]]},{"id":"f53ea4a8.9ebd08","type":"api-call-service","z":"a6a6544f.229a78","name":"Gateway hall - Play ringtome","server":"155a42b2.1d725d","version":1,"debugenabled":true,"service_domain":"xiaomi_aqara","service":"play_ringtone","entityId":"","data":"{\"gw_mac\":\"04cf8c8f8670\",\"ringtone_id\":11,\"ringtone_vol\":1}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1440,"y":260,"wires":[[]]},{"id":"cf1fd15c.e6f37","type":"server-state-changed","z":"a6a6544f.229a78","name":"Door entrance closes ?","server":"155a42b2.1d725d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.door_entrance_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":320,"y":120,"wires":[["1bc3721f.e4140e"],[]]},{"id":"dfabab1c.1a1368","type":"join-wait","z":"a6a6544f.229a78","name":"Join and wait 3 min","paths":"[\"path_1\", \"path_2\"]","pathsToExpire":"","useRegex":false,"ignoreUnmatched":false,"pathTopic":"paths","pathTopicType":"msg","correlationTopic":"","correlationTopicType":"msg","timeout":"3","timeoutUnits":"60000","exactOrder":"true","firstMsg":"true","mapPayload":"true","disableComplete":false,"x":1170,"y":340,"wires":[["ca0928d6.a35d68","b668955a.01df08"],[]]},{"id":"2cbba153.5acf0e","type":"server-state-changed","z":"a6a6544f.229a78","name":"Wojciech disconnects wifi ?","server":"155a42b2.1d725d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.wojciech_wifi","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":310,"y":380,"wires":[["8c4eb2fa.b4562"],[]]},{"id":"245e2faf.785a9","type":"server-state-changed","z":"a6a6544f.229a78","name":"Justyna disconnects wifi ?","server":"155a42b2.1d725d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.justyna_wifi","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":310,"y":440,"wires":[["8d0ba7a9.5e1138"],[]]},{"id":"d530b7bb.d549b8","type":"join-wait","z":"a6a6544f.229a78","name":"Join and wait 3 min","paths":"[\"path_1\", \"path_2\"]","pathsToExpire":"","useRegex":false,"ignoreUnmatched":false,"pathTopic":"paths","pathTopicType":"msg","correlationTopic":"","correlationTopicType":"msg","timeout":"3","timeoutUnits":"60000","exactOrder":"false","firstMsg":"true","mapPayload":"true","disableComplete":false,"x":730,"y":380,"wires":[["f22b09e6.ea0d58","f78ce07.f82b02"],[]]},{"id":"8c4eb2fa.b4562","type":"change","z":"a6a6544f.229a78","name":"Set path_1","rules":[{"t":"set","p":"paths","pt":"msg","to":"path_1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":380,"wires":[["d530b7bb.d549b8"]]},{"id":"8d0ba7a9.5e1138","type":"change","z":"a6a6544f.229a78","name":"Set path_2","rules":[{"t":"set","p":"paths","pt":"msg","to":"path_2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":440,"wires":[["d530b7bb.d549b8"]]},{"id":"f22b09e6.ea0d58","type":"change","z":"a6a6544f.229a78","name":"Set path_2","rules":[{"t":"set","p":"paths","pt":"msg","to":"path_2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":380,"wires":[["dfabab1c.1a1368"]]},{"id":"bf365d4b.e98a9","type":"api-call-service","z":"a6a6544f.229a78","name":"Notify Nobody's home","server":"155a42b2.1d725d","version":1,"debugenabled":false,"service_domain":"notify","service":"wojciech_devices","entityId":"","data":"{\"title\":\"Both's out - way #1\",\"message\":\"Gasze swiatla\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1420,"y":140,"wires":[[]]},{"id":"ca0928d6.a35d68","type":"api-call-service","z":"a6a6544f.229a78","name":"Notify Both out","server":"155a42b2.1d725d","version":1,"debugenabled":false,"service_domain":"notify","service":"wojciech_devices","entityId":"","data":"{\"title\":\"Both out way #2\",\"message\":\"Gasze swiatla\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1400,"y":340,"wires":[[]]},{"id":"f78ce07.f82b02","type":"api-call-service","z":"a6a6544f.229a78","name":"Notify Wojciech Both out","server":"155a42b2.1d725d","version":1,"debugenabled":false,"service_domain":"notify","service":"wojciech_devices","entityId":"","data":"{\"title\":\"Both wifi off\",\"message\":\"both disconnected\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1050,"y":520,"wires":[[]]},{"id":"3cc47352.8f68bc","type":"server-state-changed","z":"2014f45.521b30c","name":"Wojciech connects wifi ?","server":"155a42b2.1d725d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.wojciech_wifi","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":210,"y":400,"wires":[["68ca86f5.e63b98"],[]]},{"id":"6339ced0.09e7d","type":"server-state-changed","z":"2014f45.521b30c","name":"Justyna connects wifi ?","server":"155a42b2.1d725d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.justyna_wifi","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":220,"y":460,"wires":[["68ca86f5.e63b98"],[]]},{"id":"949233.97626dd","type":"server-state-changed","z":"2014f45.521b30c","name":"Door entrance opens ?","server":"155a42b2.1d725d","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.door_entrance_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":220,"y":300,"wires":[["12f99ee3.96edf1","eeaeb484.28a7e8"],[]]},{"id":"12f99ee3.96edf1","type":"change","z":"2014f45.521b30c","name":"Set path_1","rules":[{"t":"set","p":"paths","pt":"msg","to":"path_1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":300,"wires":[["740253b4.38d2fc"]]},{"id":"68ca86f5.e63b98","type":"change","z":"2014f45.521b30c","name":"Set path_2","rules":[{"t":"set","p":"paths","pt":"msg","to":"path_2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":340,"wires":[["740253b4.38d2fc"]]},{"id":"eeaeb484.28a7e8","type":"api-current-state","z":"2014f45.521b30c","name":"Nobody's home ?","server":"155a42b2.1d725d","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.family_wifi","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":630,"y":200,"wires":[["117d29fc.2a93d6","24fd9d9a.f58af2"],[]]},{"id":"740253b4.38d2fc","type":"join-wait","z":"2014f45.521b30c","name":"Join and wait 3 min","paths":"[\"path_1\", \"path_2\"]","pathsToExpire":"","useRegex":false,"ignoreUnmatched":false,"pathTopic":"paths","pathTopicType":"msg","correlationTopic":"","correlationTopicType":"msg","timeout":"3","timeoutUnits":"60000","exactOrder":"false","firstMsg":"true","mapPayload":"true","disableComplete":false,"x":750,"y":300,"wires":[["1490a081.75538f","24fd9d9a.f58af2"],[]]},{"id":"1b5b9a1c.e34656","type":"api-call-service","z":"2014f45.521b30c","name":"Turn the kitchen desk on","server":"155a42b2.1d725d","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.shelly_kitchen_desk","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1370,"y":300,"wires":[[]]},{"id":"117d29fc.2a93d6","type":"api-call-service","z":"2014f45.521b30c","name":"Notify Nobody's home","server":"155a42b2.1d725d","version":1,"debugenabled":false,"service_domain":"notify","service":"wojciech_devices","entityId":"","data":"{\"title\":\"Nobody's home\",\"message\":\"Zapalam światło\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1060,"y":120,"wires":[[]]},{"id":"1490a081.75538f","type":"api-call-service","z":"2014f45.521b30c","name":"Notify One of us' home Wojciech","server":"155a42b2.1d725d","version":1,"debugenabled":false,"service_domain":"notify","service":"wojciech_devices","entityId":"","data":"{\"title\":\"One of us' home\",\"message\":\"Zapalam światło\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1050,"y":400,"wires":[[]]},{"id":"d38750ec.c3ca3","type":"change","z":"c85bed85.16c69","name":"Set path_1","rules":[{"t":"set","p":"paths","pt":"msg","to":"path_1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":80,"wires":[["46176e9.3cbd69"]]},{"id":"a3c6917d.aae14","type":"change","z":"c85bed85.16c69","name":"Set path_2","rules":[{"t":"set","p":"paths","pt":"msg","to":"path_2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":120,"wires":[["46176e9.3cbd69"]]},{"id":"46176e9.3cbd69","type":"join-wait","z":"c85bed85.16c69","name":"Join and wait 500 ms","paths":"[\"path_1\", \"path_2\"]","pathsToExpire":"","useRegex":false,"ignoreUnmatched":false,"pathTopic":"paths","pathTopicType":"msg","correlationTopic":"","correlationTopicType":"msg","timeout":"3","timeoutUnits":"1000","exactOrder":"true","firstMsg":"true","mapPayload":"true","disableComplete":false,"x":640,"y":80,"wires":[["1890caf5.48c3a5"],[]]},{"id":"1890caf5.48c3a5","type":"api-call-service","z":"c85bed85.16c69","name":"Kitchen desk light","server":"155a42b2.1d725d","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.light_desk_kitchen","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":870,"y":80,"wires":[[]]},{"id":"82766bb2.e51428","type":"trigger-state","z":"c85bed85.16c69","name":"Fan 1 kitchen on?","server":"155a42b2.1d725d","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"switch.fan_1_kitchen","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off","propertyValue":"old_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":170,"y":80,"wires":[["d38750ec.c3ca3"],[]]},{"id":"d511f577.695278","type":"trigger-state","z":"c85bed85.16c69","name":"Fan 1 kitchen off?","server":"155a42b2.1d725d","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"switch.fan_1_kitchen","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"old_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":170,"y":140,"wires":[["a3c6917d.aae14"],[]]},{"id":"11d94e04.96b332","type":"delay","z":"2014f45.521b30c","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1180,"y":300,"wires":[["1b5b9a1c.e34656"]]},{"id":"24fd9d9a.f58af2","type":"time-range-switch","z":"2014f45.521b30c","name":"","lat":"","lon":"","startTime":"16:00","endTime":"7:00","startOffset":0,"endOffset":0,"x":1010,"y":300,"wires":[["11d94e04.96b332"],[]]},{"id":"f6c88eb0.8c22e","type":"change","z":"c85bed85.16c69","name":"Set path_1","rules":[{"t":"set","p":"paths","pt":"msg","to":"path_1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":360,"wires":[["f8d92967.ad50d8"]]},{"id":"bdc2977b.071218","type":"change","z":"c85bed85.16c69","name":"Set path_2","rules":[{"t":"set","p":"paths","pt":"msg","to":"path_2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":400,"wires":[["f8d92967.ad50d8"]]},{"id":"f8d92967.ad50d8","type":"join-wait","z":"c85bed85.16c69","name":"Join and wait 3 s","paths":"[\"path_1\", \"path_2\"]","pathsToExpire":"","useRegex":false,"ignoreUnmatched":false,"pathTopic":"paths","pathTopicType":"msg","correlationTopic":"","correlationTopicType":"msg","timeout":"3","timeoutUnits":"1000","exactOrder":"true","firstMsg":"true","mapPayload":"true","disableComplete":false,"x":630,"y":360,"wires":[["fbbc6d7d.54273"],[]]},{"id":"fbbc6d7d.54273","type":"api-call-service","z":"c85bed85.16c69","name":"Light 2 kitchen","server":"155a42b2.1d725d","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.light_2_kitchen","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":860,"y":360,"wires":[[]]},{"id":"a14d4944.aecc58","type":"trigger-state","z":"c85bed85.16c69","name":"Light desk kitchen on?","server":"155a42b2.1d725d","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"light.light_desk_kitchen","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off","propertyValue":"old_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":160,"y":420,"wires":[["bdc2977b.071218"],[]]},{"id":"c3c30732.a059a8","type":"trigger-state","z":"c85bed85.16c69","name":"Light desk kitchen off?","server":"155a42b2.1d725d","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"light.light_desk_kitchen","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"old_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":160,"y":360,"wires":[["f6c88eb0.8c22e"],[]]},{"id":"84b709b.28721f8","type":"change","z":"c85bed85.16c69","name":"Set path_1","rules":[{"t":"set","p":"paths","pt":"msg","to":"path_1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":220,"wires":[["b314f670.f1eaf8"]]},{"id":"830dbc94.665aa","type":"change","z":"c85bed85.16c69","name":"Set path_2","rules":[{"t":"set","p":"paths","pt":"msg","to":"path_2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":260,"wires":[["b314f670.f1eaf8"]]},{"id":"b314f670.f1eaf8","type":"join-wait","z":"c85bed85.16c69","name":"Join and wait 3 s","paths":"[\"path_1\", \"path_2\"]","pathsToExpire":"","useRegex":false,"ignoreUnmatched":false,"pathTopic":"paths","pathTopicType":"msg","correlationTopic":"","correlationTopicType":"msg","timeout":"3","timeoutUnits":"1000","exactOrder":"true","firstMsg":"true","mapPayload":"true","disableComplete":false,"x":630,"y":220,"wires":[["b7a8b70f.ac22d8"],[]]},{"id":"b7a8b70f.ac22d8","type":"api-call-service","z":"c85bed85.16c69","name":"Light 1 kitchen","server":"155a42b2.1d725d","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.light_1_kitchen","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":860,"y":220,"wires":[[]]},{"id":"68838cd9.171c14","type":"trigger-state","z":"c85bed85.16c69","name":"Light table kitchen on?","server":"155a42b2.1d725d","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"light.light_table_kitchen","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off","propertyValue":"old_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":160,"y":280,"wires":[["830dbc94.665aa"],[]]},{"id":"202c19fe.ee6f26","type":"trigger-state","z":"c85bed85.16c69","name":"Light table kitchen off?","server":"155a42b2.1d725d","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"light.light_table_kitchen","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"old_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":160,"y":220,"wires":[["84b709b.28721f8"],[]]}]